/* Hover image, opacity */

.card:hover{
  cursor: pointer;
}
.card:hover .imgHero{
  opacity: 0.2 ;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}
.card .card-text, .card .btn , .card .card-title{
  visibility: hidden;
}
.card:hover .card-text, .card:hover .btn , .card:hover .card-title{
  visibility: visible;
}
.card:hover .card-img-overlay{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
@media screen and (max-width: 540px) {
  .card:hover .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-title{
    font-size: 0.8rem;
  }
  .card-text{
    font-size: 0.7rem;
  }
  .card-text.text-muted{
    display: none;
  }
  .btn{
    font-size: 0.5rem;
  }
  
}
